html {
  font-size: 16px;

  @include tablets() {
    font-size: 14px;
  }

  @include phones() {
    font-size: 13px;
  }
}

html, body {
  width: 100%;
  height: 100%;
}

body {
  font-family: 'proximanova-regular', "Arial", "Helvetica", sans-serif;
  line-height: 1.42;
  margin: 0;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

ul {
  margin: 0;
  padding: 0;
  li {
  list-style: none;
  }
}

b {
  font-family: 'proximanova-bold';
}

h1, h2, h3, h4, h5, h6 {
  font-family: "proximanova-regular";
  margin: 0;
  font-weight: 400;
}

h1 {
  font-size: 40px;

  @include tablets () {
    text-align: center;
  }

  @include phones () {
    font-size: 30px;
  }
}

p {
  margin: 0;
}

* {
  box-sizing: border-box;
}

button {
  border: 0;
  cursor: pointer;
  text-transform: uppercase;
}

a {
  color: inherit;
  cursor: pointer;
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  max-height: 100%;
}

.wrapper {
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  position: relative;
}

.maincontent {
  height: 100%;
  width: 100%;
  background-color: #fff;
}

.container {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 0 auto;
}

.banners {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: flex-start;
  margin-top: 30px;

  @include desc() {
    flex-direction: column;
    align-items: flex-start;
  }

  @include tablets () {
    align-items: center;
  }

  @include phones () {
    margin-top: 15px;
  }
}

.banner {
  display: flex;
  width: 563px;
  min-height: 294px;

  @include phones () {
    width: 300px;
    min-height: 200px;
  }
}

.block {
  margin-right: 43px;

  @include desc() {
    margin-right: 0;
    margin-bottom: 50px;
  }

  @include phones () {
    margin-bottom: 20px;
  }
}
