@font-face {
  font-family: 'proximanova-regular';
  src: url('./fonts/proximanova-regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'proximanova-semibold';
  src: url('./fonts/proximanova-semibold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'proximanova-bold';
  src: url('./fonts/proximanova-bold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'umnik-bold';
  src: url('./fonts/umnik-bold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
}