@font-face {
  font-family: 'proximanova-regular';
  src: url('./fonts/proxima_nova') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'proximanova-semibold';
  src: url('./fonts/ProximaNova-Semibold') format('woff2');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'proximanova-bold';
  src: url('./fonts/ProximaNova-Bold') format('woff2');
  font-weight: bold;
  font-style: normal;
}